@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@200;400;600;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
section {
  min-height: 100vh;
}
.tagline {
  font-family: "Josefin Sans", sans-serif;
}
#hero {
  background-color: #cefafe;
}
