@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@200;400;600;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
#hero,
#rayon,
#about {
  min-height: 100vh;
}
.ff-josefin {
  font-family: "Josefin Sans", sans-serif;
}
.overin {
  overflow-x: scroll;
  flex-wrap: nowrap;
}

@media (min-width: 576px) {
  .overin {
    overflow-x: auto;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
}
